doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    include _style
      
  body
    .col-md-6.offset-md-3
    span#formChangePassword.anchor
    hr.mb-5
    // form card change password
    .container
        .card-header
        h3.mb-0 #{msg}
        