doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    include _style
      
  body
    .col-md-6.offset-md-3
    span#formChangePassword.anchor
    hr.mb-5
    // form card change password
    .container
        .card-header
        h3.mb-0 Change Password
        .card-body
        form.form(role='form' method='Post' action=`${url}` autocomplete='off')
            input#inputPasswordNew.form-control(type='hidden' name='resetToken' value=`${resetToken}` required='')
            .form-group
            label(for='inputPasswordNew') Password
            input#inputPasswordNew.form-control(type='password' name="new_password" required='')
            span.form-text.small.text-muted
                | The password must be 8-20 characters, and must 
                em not
                |  contain spaces.
            .form-group
            label(for='inputPasswordNewVerify') Confirm Password
            input#inputPasswordNewVerify.form-control(type='password' name="confirm_password" required='')
            span.form-text.small.text-muted
                | To confirm, type the new password again.
            .form-group
            button.btn.btn-success.btn-lg.float-right(type='submit') Save